/DS/20.02-Intro_Java/Atividade1/nbproject/private/
/DS/20.02-Intro_Java/Atividade1/build/
/DS/20.02-Intro_Java/Atividade2/nbproject/private/
/DS/20.02-Intro_Java/Atividade2/build/
/DS/20.02-Intro_Java/Atividade3/nbproject/private/
/DS/20.02-Intro_Java/Atividade3/build/
/DS/20.02-Intro_Java/Atividade4/nbproject/private/
/DS/20.02-Intro_Java/Atividade4/build/
/DS/05.03-AtivNota/MaiorMenosValor/nbproject/private/
/DS/05.03-AtivNota/MaiorMenosValor/build/
/DS/11.03-IntroJoptionPane/IntroJoptionPane/nbproject/private/
/DS/11.03-IntroJoptionPane/IntroJoptionPane/build/
/DS/11.03-IntroJOptionPane/TesteJOptionPane_exercAnterior/nbproject/private/
/DS/11.03-IntroJOptionPane/TesteJOptionPane_exercAnterior/build/
/DS/05.03-AtivNota/VerificaNumero/nbproject/private/
/DS/05.03-AtivNota/VerificaNumero/build/
/DS/05.03-AtivNota/MaiorMenorTeste/nbproject/private/
/DS/05.03-AtivNota/VerificaNumero/dist/
/DS/12.03-IntroObjs/OrientacaoObjetos/nbproject/private/
/DS/12.03-IntroObjs/OrientacaoObjetos/build/
/DS/19.03-ListaPOO/Atividade1-Cadastro/nbproject/private/
/DS/19.03-ListaPOO/Atividade1-Cadastro/build/
/DS/19.03-ListaPOO/Atividade2-Venda/nbproject/private/
/DS/19.03-ListaPOO/Atividade2-Venda/build/
/DS/19.03-ListaPOO/Atividade3-Boletim/nbproject/private/
/DS/19.03-ListaPOO/Atividade3-Boletim/build/